header {
  text-align: center;
}
body {
  font-family: "Almarai", sans-serif;
  text-align: center;
  margin: 15px;
  background-color: rgb(241, 179, 179);
  color: rgb(41, 15, 48);
}
#reset-button {
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #89b449;
  font-family: "Almarai", sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 0px #0b092c;
  color: #0b092c;
  font-size: medium;
}
textarea[name="user-input"] {
  width: 400px;
  height: 200px;
  resize: none;
}
.lista {
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #dbd468;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: middle;
  min-width: 20px;
  min-height: 20px;
}
footer {
  position: fixed;
}
